<!DOCTYPE html>
<html>
<head>
  <title>Bummer!</title>

  <%= include_stylesheets :all %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tags %>

<script src="http://code.jquery.com/jquery-latest.js"></script>

  <%= render "layouts/analytics" %>

<script type="text/javascript">
    $(function(){
      main();
    });
</script>

</head>
<body>
  <div id=header-stripe>
  </div>
  <div id=main>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
