<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fucker.name %>
</p>

<p>
  <b>Password:</b>
  <%= @fucker.password %>
</p>

<p>
  <b>Facebook:</b>
  <%= @fucker.facebook_id %>
</p>


<%= link_to 'Edit', edit_fucker_path(@fucker) %> |
<%= link_to 'Back', fuckers_path %>
