<%= form_for(@fuck) do |f| %>
  <% if @fuck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fuck.errors.count, "error") %> prohibited this fuck from being saved:</h2>

      <ul>
      <% @fuck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
