<h1>Listing fucks</h1>

<table>
  <tr>
    <th>References</th>
    <th>References</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fucks.each do |fuck| %>
  <tr>
    <td><%= fuck.references %></td>
    <td><%= fuck.references %></td>
    <td><%= link_to 'Show', fuck %></td>
    <td><%= link_to 'Edit', edit_fuck_path(fuck) %></td>
    <td><%= link_to 'Destroy', fuck, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fuck', new_fuck_path %>
