<p id="notice"><%= notice %></p>

<p>
  <b>Fucker:</b>
  <%= @fuck.fucker %>
</p>

<p>
  <b>That:</b>
  <%= @fuck.that %>
</p>


<%= link_to 'Edit', edit_fuck_path(@fuck) %> |
<%= link_to 'Back', fucks_path %>
