<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @fuck.references %>
</p>

<p>
  <b>References:</b>
  <%= @fuck.references %>
</p>


<%= link_to 'Edit', edit_fuck_path(@fuck) %> |
<%= link_to 'Back', fucks_path %>
