<%= form_for(@that) do |f| %>
  <% if @that.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@that.errors.count, "error") %> prohibited this that from being saved:</h2>

      <ul>
      <% @that.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :fuck_count %><br />
    <%= f.number_field :fuck_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
