<h1>Listing thats</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Fuck count</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @thats.each do |that| %>
  <tr>
    <td><%= that.url %></td>
    <td><%= that.fuck_count %></td>
    <td><%= link_to 'Show', that %></td>
    <td><%= link_to 'Edit', edit_that_path(that) %></td>
    <td><%= link_to 'Destroy', that, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New That', new_that_path %>
