<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @that.url %>
</p>

<p>
  <b>Fuck count:</b>
  <%= @that.fuck_count %>
</p>


<%= link_to 'Edit', edit_that_path(@that) %> |
<%= link_to 'Back', thats_path %>
